* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
}
header {
    height: 15vh;
    background-color: #4285f4;
    color: white;
}

main {
    min-height: 80vh;
}
footer {
    height: 5vh;
    background-color: black;
    color: white;
}

header, footer {
    display: flex;
    justify-content: center;
    align-items: center;
}